<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="smri3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="robot_ip" default=""/>
  <xacro:arg name="hardware_backend" default="real"/>
  <xacro:arg name="log_passthrough_commands" default="false"/>
  <xacro:arg name="gazebo_controllers_file" default="$(find smrcore_hardware)/config/smri3_gazebo_controllers.yaml"/>
  <xacro:property name="hardware_backend_value" value="$(arg hardware_backend)"/>
  <xacro:include filename="$(find smrcore_description)/urdf/smri3.ros2_control.xacro"/>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0012271 3.5719E-05 0.067242"
        rpy="0 0 0" />
      <mass
        value="2.3653" />
      <inertia
        ixx="0.0042835"
        ixy="-3.3891E-07"
        ixz="-3.3159E-05"
        iyy="0.0041819"
        iyz="-2.8837E-06"
        izz="0.0038594" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="shoulder_link">
    <inertial>
      <origin
        xyz="-0.014568 -3.2077E-05 0.055988"
        rpy="0 0 0" />
      <mass
        value="2.1469" />
      <inertia
        ixx="0.0025223"
        ixy="2.9436E-06"
        ixz="0.00024428"
        iyy="0.0028291"
        iyz="-4.3095E-07"
        izz="0.0028887" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_joint"
    type="revolute">
    <origin
      xyz="0 0 0.1245"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="shoulder_link" />
    <axis
      xyz="0 0 1" />
    <!-- dynamics: aligned with robot.xml joint damping / frictionloss -->
    <dynamics
      damping="1.37712"
      friction="2.12262" />
    <limit
      lower="-6.283185307"
      upper="6.283185307"
      effort="200" velocity="3.14" />
  </joint>
  <link
    name="upper_arm_link">
    <inertial>
      <origin
        xyz="-0.1221 2.3317E-06 0.043604"
        rpy="0 0 0" />
      <mass
        value="1.2763" />
      <inertia
        ixx="0.0015357"
        ixy="2.7236E-07"
        ixz="0.00015542"
        iyy="0.013496"
        iyz="3.9216E-08"
        izz="0.01436" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/upper_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/upper_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder_joint"
    type="revolute">
    <origin
      xyz="0 -0.0462 0.061"
      rpy="1.5708 0 0" />
    <parent
      link="shoulder_link" />
    <child
      link="upper_arm_link" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="1.43903"
      friction="1.66347" />
    <limit
      lower="-4.36332313"
      upper="1.221730476"
      effort="200" velocity="3.14" />
  </joint>
  <link
    name="lower_arm_link">
    <inertial>
      <origin
        xyz="-0.070306 0.00048901 -0.021154"
        rpy="0 0 0" />
      <mass
        value="3.1461" />
      <inertia
        ixx="0.0034995"
        ixy="-2.2813E-07"
        ixz="-0.00055074"
        iyy="0.013403"
        iyz="-2.7583E-06"
        izz="0.013226" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/lower_arm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/lower_arm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow_joint"
    type="revolute">
    <origin
      xyz="-0.263 0 0"
      rpy="0 0 0" />
    <parent
      link="upper_arm_link" />
    <child
      link="lower_arm_link" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="1.61981"
      friction="2.73848" />
    <limit
      lower="-2.757620218"
      upper="2.757620218"
      effort="200" velocity="3.14" />
  </joint>
  <link
    name="proximal_wrist_link">
    <inertial>
      <origin
        xyz="8.7148E-05 -0.0025009 0.040305"
        rpy="0 0 0" />
      <mass
        value="0.7728" />
      <inertia
        ixx="0.00035692"
        ixy="-4.0722E-08"
        ixz="9.0915E-08"
        iyy="0.00050564"
        iyz="5.7996E-05"
        izz="0.00038996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/proximal_wrist_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/proximal_wrist_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist1_joint"
    type="revolute">
    <origin
      xyz="-0.236 0 0.0158"
      rpy="0 0 0" />
    <parent
      link="lower_arm_link" />
    <child
      link="proximal_wrist_link" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="0.22439"
      friction="0.50985" />
    <limit
      lower="-4.71238898"
      upper="1.570796327"
      effort="120" velocity="3.14" />
  </joint>
  <link
    name="distal_wrist_link">
    <inertial>
      <origin
        xyz="-7.8317E-05 0.0024461 0.039842"
        rpy="0 0 0" />
      <mass
        value="0.7827" />
      <inertia
        ixx="0.00035481"
        ixy="-3.3296E-08"
        ixz="-1.8547E-07"
        iyy="0.00051068"
        iyz="-5.5945E-05"
        izz="0.00038996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/distal_wrist_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/distal_wrist_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist2_joint"
    type="revolute">
    <origin
      xyz="0 -0.038 0.041"
      rpy="1.5708 0 0" />
    <parent
      link="proximal_wrist_link" />
    <child
      link="distal_wrist_link" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="0.19644"
      friction="0.51623" />
    <limit
      lower="-2.268928028"
      upper="2.268928028"
      effort="120" velocity="3.14" />
  </joint>
  <link
    name="flange_link">
    <inertial>
      <origin
        xyz="0.00029338 -0.00022112 0.01719"
        rpy="0 0 0" />
      <mass
        value="0.17609" />
      <inertia
        ixx="6.4295E-05"
        ixy="1.5695E-08"
        ixz="3.1492E-07"
        iyy="6.2963E-05"
        iyz="-5.8072E-08"
        izz="0.00011856" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/flange_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/flange_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist3_joint"
    type="revolute">
    <origin
      xyz="0 0.0385 0.041"
      rpy="-1.5708 0 0" />
    <parent
      link="distal_wrist_link" />
    <child
      link="flange_link" />
    <axis
      xyz="0 0 1" />
    <dynamics
      damping="0.20446"
      friction="0.56759" />
    <limit
      lower="-6.283185307"
      upper="6.283185307"
      effort="80" velocity="3.14" />
  </joint>
  <link
    name="tool0_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.001" />
      <inertia
        ixx="1e-06"
        ixy="0"
        ixz="0"
        iyy="1e-06"
        iyz="0"
        izz="1e-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/tool0_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://smrcore_description/meshes/smri3/tool0_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tool0_joint"
    type="fixed">
    <origin
      xyz="0 0 0.0315"
      rpy="0 0 0" />
    <parent
      link="flange_link" />
    <child
      link="tool0_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <xacro:if value="${hardware_backend_value == 'gazebo'}">
    <!-- Keep Gazebo's URDF root inertial-free without changing the default
         exported tree used by RViz, MoveIt, and the real hardware backend. -->
    <link name="world"/>
    <joint name="world_to_base_link" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:if>
  <xacro:smri3_ros2_control robot_ip="$(arg robot_ip)" hardware_backend="$(arg hardware_backend)" log_passthrough_commands="$(arg log_passthrough_commands)"/>
  <xacro:if value="${hardware_backend_value == 'gazebo'}">
    <gazebo reference="base_link">
      <!-- The exported base collision mesh slightly intersects the ground and
           the arm has no external fixture in URDF. Keep the base kinematic in
           Gazebo so position-control tests do not drift or chatter. -->
      <gravity>false</gravity>
      <kinematic>true</kinematic>
    </gazebo>
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(arg gazebo_controllers_file)</parameters>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
